# API_URL=http://localhost:3000/api # Uncomment this if you wanna test beckend in local host
# API_URL=web_url/api # Replace the [web_url] with the backend web url and uncomment this if you wanna check cloud backend